<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Sites</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="container mt-5">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <h2>Sites</h2>

        <a href="#" class="btn btn-primary">
            + Add Site
        </a>

    </div>

    <table class="table table-bordered table-hover">

        <thead class="table-dark">

        <tr>
            <th>ID</th>
            <th>Site Name</th>
            <th>Country</th>
            <th>City</th>
            <th>Firewall</th>
            <th>Firmware</th>
            <th>Score</th>
            <th>Status</th>
        </tr>

        </thead>

        <tbody>

        <tr th:each="site : ${sites}">

            <td th:text="${site.id}"></td>

            <td th:text="${site.name}"></td>

            <td th:text="${site.country}"></td>

            <td th:text="${site.city}"></td>

            <td th:text="${site.firewallModel}"></td>

            <td th:text="${site.firmwareVersion}"></td>

            <td th:text="${site.securityScore}"></td>

            <td th:text="${site.status}"></td>

        </tr>

        </tbody>

    </table>

</div>

</body>

</html>